@charset "utf-8";
body,dd,dl,dt,h1,h2,h3,h4,h5,h6,li,p,ul {
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent;
	outline:none;
}
img{
	border: none;
	cursor: pointer;
}
input{
	font-family: "微软雅黑";
	outline: none;
}
button{
	transition: none!important;
}
.fl{
	float: left;
	width: 576px;
	height: 57px;
	background: url(../image/login/top_logo.png) no-repeat;
	background-size: 100% 78%;
	margin-top: 7px;"
}
.fr{
	float: right;
}
.clearfix:after {
	content: "\200b";
	clear: both;
	display: block;
	height: 0;
}
.pr{
	position: relative;
}
.pa{
	position: absolute;
}
.alignC{
	text-align: center;
}
	